<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'adminBoard', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <header>
      <div><h2>Admin Dashboard</h2></div>
      <nav>
        <%= link_to "Dashboard", admin_panel_dashboard_path %> |
        <%= link_to "Users", admin_panel_users_path %> |
        <%= link_to "Transactions", admin_panel_transactions_path %> |
        <%= button_to "Log out", destroy_admin_session_path, method: :delete, form_class: "logout-button" %>
      </nav>
    </header>

    <% if notice %>
      <p class="flash notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="flash alert"><%= alert %></p>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
